node_modules

# ignore karma junit output
test-results.xml

# the go shell (gosh) history
.goshhst

# the go shell (gosh) env overrides
env.sh.custom

# ignore build artifacts
build

*.pyc

# ignore Tern's .tern-port files
.tern-port

